<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SonicMqLogConnectionString"
            connectionString="data Source=.\sql2005;Integrated Security=SSPI;Initial Catalog=SonicMqLog;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>